.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/license.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/src/main/resources/application-my*.yml
/src/test/resources/application-my*.yml

.vs/

/src/main/resources/*-dev.yml
/src/main/resources/node-env.properties
/data/
/client
/repository
/settings.gradle
/node-local-config/
/file

.DS_Store
*/.DS_Store

/config/checkstyle/
/src/protoGen/
/nacos